.bodyEncontranos {
    .mainIndex {
        background-image: url(../images/generales/fondo_page-0001.jpg);
        background-size: contain;
        background-attachment: fixed;
        max-width: 100%;
        padding-bottom: 4rem;
        height: fit-content;
        .encontranos {
            display: grid;
            grid-template-columns: 1fr 1fr 1.3fr;
            grid-template-rows: 12.5rem 1fr 1fr;
            gap: 0.7rem;
            grid-template-areas:
                "tituloEncontrarnos tituloEncontrarnos tituloEncontrarnos"
                "mapa mapa verticalFranja"
                "trabaja horarios verticalFranja";
            max-width: 100%;
            height: 57.5rem;
           

            /*Título Encontranos*/
            .tituloEncontrarnos {
                grid-area: tituloEncontrarnos;
                background-color: $naranjamed;
                @include dFlex (flex, column, nowrap, center, center);
                h2 {
                    @include text ("Belanosima" sans-serif , 500, normal, 3.2rem, center, $blancoamarillo );
                    font-family: "Belanosima", sans-serif;
                }
                p {
                    display: none;
                }
            }
            /* Franja vertical */
            .verticalFranja {
                grid-area: verticalFranja;
                background-color: $azulosc;
                box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.7);
                @include dFlex (flex, column, nowrap, center, center);
                margin :  4.2rem;
                transform: rotate(-2deg) translateY(0.75rem);
                .cinta{
                    position: absolute;
                    top: -4.37rem;
                    z-index: 100;
                    img{
                        width: 16.87rem;
                        height: auto;
                    }
                }
                p {
                    @include text ("Edu VIC WA NT Beginner", 300, normal, 1.56rem, center, $blancoamarillo );
                    padding: 1rem;
                }
                .redesSociales2{
                    li {
                        @include dFlex (flex, row, nowrap, baseline, center);
                        margin-left: 3.125rem;
                        padding-top: 1.25rem;
                    }
                    a {
                        @include text ("Edu VIC WA NT Beginner", 300, normal, 1.25rem, center, $blancoamarillo );
                        .imgRedes2 {
                            width: 3.75rem;
                            height: 3.75rem;
                            margin: 0.3rem;
                            &:hover {
                                transform: scale(1.2);
                                transition: transform 0.3s;
                            }
                        }
                    }  
                }
            }
            /* Mapa */
            .mapa {
                grid-area: mapa;
                padding-left: 3.12rem;
                margin-top: 1.25rem;
                margin-bottom: 1rem;
                @include dFlex (flex, row, nowrap, center, center);
            }
            /* Horarios */
            .horarios {
                grid-area: horarios;
                background-image: url(../images/generales/papel.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                @include dFlex (flex, column, nowrap, center, center);
                margin-left: 2rem;
                padding-bottom: 1.25rem;
                h2 {
                    @include text ("Belanosima" sans-serif , 500, normal, 2.5rem, center, $celesteclaro);
                    font-family: "Belanosima", sans-serif;
                    margin-top: 1rem;
                }
                p {
                    @include text ("Edu VIC WA NT Beginner", 300, normal, 1.5rem, center, $blancoamarillo);
                    margin: 0;
                }
            }
            /* Trabaja con nosotros */
            .trabaja {
                grid-area: trabaja;
                background-image: url(../images/generales/papel2.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                @include dFlex (flex, column, nowrap, center, center);
                margin-left: 3.12rem;   
                padding-bottom: 1.25rem;            
                h2 {
                    @include text ("Belanosima" sans-serif , 300, normal, 2.5rem, center, $naranjacla );
                    font-family: "Belanosima", sans-serif;
                    margin-top: 1.8rem;
                } 
                input, form {
                   align-self: center;
                   @include text ("Belanosima" sans-serif , 400, normal, 0.93rem, center, $azulosc );
                    font-family: "Belanosima", sans-serif;
                    margin-top: -1rem;
                }
            }
        }
    } 
}
