/*index*/
/*body box*/
body {
    background-color: $blancoamarillo;
    width: 100vw;
    height: fit-content;

    header{
        .barraSuperior{
            background-color: $celesteverdozo;
            height: 80px;
            display: flex;
            justify-content: center;
            width: 100vw;
            .imgLog{
                z-index: 100;
             .logo1 {
                    width: 160px;
                    height: 160px;
                    margin-top: 15px;
               }
            }
        }
        .barra2{
            .navbar {

                height: 45px;
                z-index: 1;
                background-color: $azulosc;
                @include text ("Belanosima" "sans-serif", 500, normal, 25px, center, $celesteclaro );
                font-family: "Belanosima", sans-serif;
                padding-left: 40px;
                
                .container-fluid{
                    .navbar-toggler{
                        color:$naranjamed;
                        .navbar-toggler-icon{
                            color:$azulosc;
                        }
                    }   
                    .collapse{
                        .logoSerch {
                          margin-right: 40px;
                          width: 30px;
                          height: auto;
                          &:hover {
                              transform: scale(1.2);
                              transition: transform 0.2s;
                            }
                        }
                    }
                    .nav-item{
                        .nav-link{
                            color:$celesteclaro;
                            margin: 5px;
                            &:hover {
                                color: $naranjamed;
                            }
                            .dropdown-menu{
                                background-color: transparent;
                                border: transparent;
                            }
                        }
                    }
                }
            }
        }
    } 
    .mainIndex{
        background-image: url(../images/generales/fondo5.jpg);
        background-size: contain;
        background-attachment: fixed;
        width: 100vw;
        height: fit-content;
        
        /*seccion bienvenidos*/
        .videobv {
            max-width: 100vw;
            width: 100vw;
            overflow: hidden;
            position: relative;
            margin-bottom: -25px;

            .video {
                width: 100vw;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            .welcome-text {
                padding: 30px;
                border-radius: 20px;
                position: absolute;
                top: 40%;
                left: 50vw;
                transform: translate(-50%, -50%);
                z-index: 100;

                h1 {
                    @include text ("Belanosima" "sans-serif" , 500, normal, 180px, center, $azulosc );
                    font-family: "Belanosima", sans-serif;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                    animation-name: tituloAnimado; 
                    animation-iteration-count: infinite;
                    animation-duration: 3s;
                }
                @keyframes tituloAnimado{
                    0%{
                        font-size: 180px;
                        color: $azulosc;
                    }
                    25%{
                        font-size: 190px;
                        color: $celesteverdozo;
                    }
                    50%{
                        font-size: 200px;
                        color: $celesteclaro;
                    }
                    75%{
                        font-size: 190px;
                        color: $naranjamed;
                    }
                    100%{
                        font-size: 180px;
                        color: $naranjacla;
                    }
                }
                p {
                    padding-left: 20px;
                    padding-right: 20px;
                    @include text ("Belanosima" "sans-serif" , 500, normal, 110px, center, $azulosc );
                    font-family: "Belanosima", sans-serif;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    animation-name: tituloAnimado2; 
                    animation-iteration-count: infinite;
                    animation-duration: 3s;
                }
                @keyframes tituloAnimado2{
                    0%{
                        font-size: 110px;
                        color: $azulosc;
                    }
                    25%{
                        font-size: 120px;
                        color: $celesteverdozo;
                    }
                    50%{
                        font-size: 130px;
                        color: $celesteclaro;
                    }
                    75%{
                        font-size: 120px;
                        color: $celesteverdozo;
                    }
                    100%{
                        font-size: 110px;
                        color: $azulosc;
                    }
                }
            }
            /*botones iniciosuscripcion*/
           .inicioSuscripcion {
               position: absolute;
               top: 10%;
               left: 70vw;
               z-index: 100;
               transform: translate(-50%, -50%);
               margin-left: 20rem;
               @include dFlex (flex, column, nowrap, center, center);

              .boton{
                   text-decoration: none;
                   background-color: $azulosc;
                   border-radius: 10px;
                   @include text ("Belanosima" sans-serif , 400, normal, 20px, center, $blancoamarillo );
                   font-family: "Belanosima", sans-serif;
                   padding: 10px;
                   margin-bottom: 10px;
                   &:hover {
                       background-color: $naranjamed;
                    }
                }
            }
        }
        /*seccion pedidos*/
        .pedidosBoxs {
            @include dFlex (flex, row, nowrap, space-evenly, center);
            height: 350px;
            width: auto;
            background-color: $naranjamed;
            margin-bottom: -25px;

            .aLaIzquierda {
                @include dFlex (flex, row, nowrap, space-between, center);
                .logoNaranja {
                    width: 220px;
                    height: 220px;
                }
                .palabras {
                    @include dFlex (flex, column, nowrap, center, center);
                    margin-left: 40px;
                    p {
                        @include text ("Belanosima" sans-serif , 500, normal, 50px, center, $naranjacla );
                        font-family: "Belanosima", sans-serif;
                        margin: -8px;
                    }       
                }
            }
            .guiaDePedidos{
                ul{
                    list-style-type: none;
                    @include dFlex (flex, row, nowrap, space-between, center);

                    .logosPedidos {
                        width: 190px;
                        height: 190px;
                        margin-left: 15px;
                        &:hover {
                           transform: scale(1.2);
                           transition: transform 0.2s;
                        }
                    }
                    .logosPedidos2 {
                        width: 30px;
                        height: 50px;
                    }
                }   
            }
        } 
        .separadorDePagina{
            background-image: url(../images/generales/texture-1099399_640.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 15rem;
        }
        
        /*seccion ofertas*/
       .ofertasBox {
            width: 100%;
           height: 550px;
           background-color: $azulosc;
           margin-bottom: -25px;
           h2 {
               font-family: "Belanosima", sans-serif;
               
               color: #9dd1d4;
               font-size: 55px;
               text-align: center;
               padding: 20px;
               background-color: #083e62;
           }
           p {
               padding: 7px;
               @include text ("Belanosima" sans-serif , 250, normal, 30px, center, $celesteclaro );
               font-family: "Edu VIC WA NT Beginner", sans-serif;
               width: 100%;
            }
            .ofertasDiv {
                @include dFlex (flex, row, nowrap, center, center);
                margin-top: 30px;
                .ofertasImg {
                    width: 280px;
                    height: 280px;
                    margin: 8px;
                   &:hover {
                        transform: scale(1.2);
                        transition: transform 0.3s;
                    }
                }
            }
        }

      /* Sección recetas */
       .recetasBox {
            height: auto;
            width: 100%;
            padding-bottom: 80px;
            margin-bottom: -25px;
           h2 {
                @include text ("Belanosima" sans-serif , 250, normal, 55px, center, $blancoamarillo);
                font-family: "Belanosima", sans-serif;
                background-color:#07838d;
                padding: 20px;
            }
            p {
                @include text ("Edu VIC WA NT Beginner", 500, normal, 35px, center, $azulosc );
                margin-bottom: 20px;
            }
           .iframe {
                @include dFlex (flex, row, nowrap, space-evenly, center);
                margin-top: 50px;
                .ratio{
                   justify-content: space-evenly;
                   &:hover {
                       margin: 5px;
                       transform: scale(1.2);
                       transition: transform 0.1s;
                       z-index: 1;
                    }
                }   
            }
        }
        /* Cards */
        .tarjetaVisita {
            @include dFlex (flex, row, nowrap, space-evenly, center);
            padding: 80px;
            background-color: $celesteverdozo;
            .card{
                background-color: $blancoamarillo;
                width: 25rem;
                .btn-custom {
                    background-color:$naranjamed;
                    @include text ("Edu VIC WA NT Beginner", 300, normal, 20px, center, $blancoamarillo );
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 0.3s;
                        
                    }
                }
                
            }
            h3{
                @include text ("Belanosima" sans-serif , 300, normal, 40px, center, $azulosc );
                font-family: "Belanosima", sans-serif;
            }
            p{
                @include text ("Edu VIC WA NT Beginner", 500, normal, 25px, center, $azulosc );
                margin-bottom: 20px;
            }
        }
    }
    /* Footer */
    footer {
        width: 100%;
        height: 150px;
        background-color: $azulosc;
        padding: 20px;
        @include dFlex (flex, row, nowrap, space-between, center);
        .flecha {
            width: 100px;
            height: 100px;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.3s;
            }            
        }
        .logoFooter {
            width: 120px;
            height: 120px;
            margin-left: 130px;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.3s;
            } 
        }
        .redesSociales {
            @include dFlex (flex, column, nowrap, center, center);
            p {
                @include text ("Edu VIC WA NT Beginner", 500, normal, 14px, center, $celesteclaro );
            }
            .imgRedes {
                width: 50px;
                height: 50px;
                margin: 10px;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                } 
            }
        }    
    }
}
/*fin-index*/