/*index*/
/*body box*/
body {
    background-color: $blancoamarillo;
    max-width: 100%;
    height: fit-content;

    header{
        .barraSuperior{
            background-color: $naranjaosc;
            @include dFlex (flex, row, nowrap, center,center);
            height: 80px;
            max-width: 100%;
            .imgLog{
                z-index: 100;
             .logo1 {
                    width: 160px;
                    height: 160px;
                    margin-top: 95px;
               }
            }
        }
        .barra2{
            .navbar {
                height: 45px;
                z-index: 1;
                background-color: $naranjacla;
                @include text ("Belanosima" "sans-serif", 500, normal, 25px, center, $azulosc);
                font-family: "Belanosima", sans-serif;
                padding-left: 40px;
                
                .container-fluid{
                    .navbar-toggler{
                        color:$naranjamed;
                        .navbar-toggler-icon{
                            color:$azulosc;
                        }
                    }   
                    .collapse{
                        .logoSerch {
                          margin-right: 40px;
                          width: 30px;
                          height: auto;
                          &:hover {
                              transform: scale(1.2);
                              transition: transform 0.2s;
                            }
                        }
                    }
                    .nav-item{
                        .nav-link{
                            color:$azulosc;
                            margin: 5px;
                            &:hover {
                                color: $naranjamed;
                            }
                            .dropdown-menu{
                                background-color: transparent;
                                border: transparent;
                            }
                        }
                    }
                }
            }
        }
    } 
    .mainIndex{
        background-image: url(../images/generales/fondo_page-0001.jpg);
        background-size:100vw;
        background-attachment: fixed;
        max-width: 100%;
        height: fit-content;
        
        /*seccion bienvenidos*/
        .videobv {
            max-width: auto;
            max-height: 1200px;
            overflow: hidden;
            position: relative;
            margin-bottom: -25px;

            .video {
                max-width: 100%;
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
            }
            .welcome-text {
                padding: 30px;
                border-radius: 20px;
                position: absolute;
                top: 40%;
                left: 50vw;
                transform: translate(-50%, -50%);
                z-index: 100;

                h1 {
                    @include text ("Belanosima" "sans-serif" , 500, normal, 180px, center, $azulosc );
                    font-family: "Belanosima", sans-serif;
                    animation-name: tituloAnimado; 
                    animation-iteration-count: infinite;
                    animation-duration: 3.5s;
                }
                @keyframes tituloAnimado{
                    0%{
                        font-size: 185px;
                        color: #065d64;
                    }
                    25%{
                        font-size: 195px;
                        color: $celesteverdozo;
                    }
                    50%{
                        font-size: 200px;
                        color: #77cdd3;
                    }
                    75%{
                        font-size: 195px;
                        color: $celesteverdozo;
                    }
                    100%{
                        font-size: 185px;
                        color: #065d64;
                    }
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                    @include text ("Belanosima" "sans-serif" , 500, normal, 110px, center, $azulosc );
                    font-family: "Belanosima", sans-serif;
                    animation-name: tituloAnimado2; 
                    animation-iteration-count: infinite;
                    animation-duration: 3.5s;
                }
                @keyframes tituloAnimado2{
                    0%{
                        font-size: 115px;
                        color: #065d64;
                    }
                    25%{
                        font-size: 125px;
                        color: $celesteverdozo;
                    }
                    50%{
                        font-size: 130px;
                        color: #77cdd3;
                    }
                    75%{
                        font-size: 125px;
                        color: $celesteverdozo;
                    }
                    100%{
                        font-size: 115px;
                        color: #065d64;
                    }
                }
            }
            /*botones iniciosuscripcion*/
           .inicioSuscripcion {
               position: absolute;
               top: 10%;
               left: 70vw;
               z-index: 100;
               transform: translate(-50%, -50%);
               margin-left: 15rem;
               @include dFlex (flex, column, nowrap, center, center);

              .boton{
                   text-decoration: none;
                   background-color: $azulosc;
                   border-radius: 10px;
                   @include text ("Belanosima" sans-serif , 400, normal, 20px, center, $blancoamarillo );
                   font-family: "Belanosima", sans-serif;
                   padding: 10px;
                   margin-bottom: 10px;
                   &:hover {
                       background-color: $naranjamed;
                    }
                }
            }
        }
        /*seccion pedidos*/
        .pedidosBoxs {
            @include dFlex (flex, row, nowrap, space-evenly, center);
            height: 350px;
            width: auto;
            background-color: $naranjamed;
            border-radius: 20px;
            margin: 30px;
            box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.7);
            .cinta{
                position: absolute;
                left:5rem ;
                top: -9.37rem;
                z-index: 100;
                img{
                    width: 16.87rem;
                    height: auto;
                }
            }

            .aLaIzquierda {
                @include dFlex (flex, row, nowrap, space-between, center);
                .logoNaranja {
                    width: 180px;
                    height: 180px;
                }
                .palabras {
                    @include dFlex (flex, column, nowrap, center, center);
                    margin-left: 45px;
                    .palabra1{ @include text     ("Belanosima" sans-serif , 250, normal, 3rem, center, $blancoamarillo);
                      font-family: "Belanosima", sans-serif;
                    }   
                    p {
                        @include text ("Edu VIC WA NT Beginner", 300, normal, 1.8rem, center, $blancoamarillo );
                        padding: 0.1rem;
                        margin: -8px;
                    }       
                }
            }
            .guiaDePedidos{
                ul{
                    list-style-type: none;
                    @include dFlex (flex, row, nowrap, space-between, center);
                    #f1{
                        transform: rotate(1deg) translateY(30px);
                        &:hover {
                            transform: scale(1.2);
                          }
                       }
                      #f2{
                        transition: box-shadow .25s cubic-bezier(.4,0,.2,1) 0ms;
                        &:hover {
                             transform: scale(1.2);
                           }
                       }
                       #f3{
                        transform: rotate(-2deg) translateY(12px);
                        &:hover {
                             transform: scale(1.2);
                           }
                       }
                      #f4{
                         transform: rotate(1deg) translateY(30px);
                          &:hover {
                             transform: scale(1.2);
                          }
                       }

                    .logosPedidos {
                        width: 180px;
                        height: 180px;
                        margin-left: 15px;
                        &:hover {
                           transform: scale(1.2);
                           transition: transform 0.2s;
                        }
                    }
                    .logosPedidos2 {
                        width: 30px;
                        height: 50px;
                    }
                }   
            }
        } 
        .separadorDePagina{
            background-image: url(../images/generales/fondo_page-0001.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 13rem;
        }
        
        /*seccion ofertas*/
       .ofertasBox {
           max-width: 100%;
           height: 550px;
           background-color: rgba(194, 148, 112,0.4);
           margin-bottom: -25px;
           h2 {
               @include text ("Belanosima" sans-serif , 500, normal, 55px, center, $blancoamarillo );
               font-family: "Belanosima", sans-serif;
               padding: 8px;
               background-color: $celesteverdozo;
           }
           p {
               padding: 7px;
               @include text ("Edu VIC WA NT Beginner" , 500, normal, 38px, center, $azulosc );
               max-width: 100%;
            }
            .ofertasDiv {
                @include dFlex (flex, row, nowrap, center, center);
                margin-top: 30px;
                .ofertasImg {
                    width: 280px;
                    height: 280px;
                    margin: 8px;
                   &:hover {
                        transform: scale(1.2);
                        transition: transform 0.3s;
                    }
                }
            }
        }

      /* Sección recetas */
       .recetasBox {
            height: auto;
            max-width: 100%;
            padding-bottom: 40px;
            margin-bottom: 50px;
            background-color: rgba(15, 129, 139,0.5);
           h2 {
                @include text ("Belanosima" sans-serif , 250, normal, 55px, center, $blancoamarillo);
                font-family: "Belanosima", sans-serif;
                background-color:$azulosc;
                padding: 8px;
            }
            p {
                @include text ("Edu VIC WA NT Beginner", 500, normal, 35px, center, $blancoamarillo );
                margin-bottom: 20px;
            }
           .iframe {
                @include dFlex (flex, row, nowrap, space-evenly, center);
                margin: 30px;
                margin-top:20px;
                .ratio{
                   justify-content: space-evenly;
                   margin: 10px;
                   &:hover {
                       transform: scale(1.1);
                       transition: transform 0.1s;
                       z-index: 1;
                    }
                }   
            }
        }
        /* Cards */
        .tarjetaVisita {
            @include dFlex (flex, row, nowrap, center, center);
            height: 1000px;
            background-image: url(../images/generales/hoja2.png);
            background-repeat: no-repeat;
            background-size: cover;
            img{
                width: 15rem;
            }
            #card1{
                transform: rotate(1deg) translateY(30px);
                margin-left: 120px;
            }
            #card2{
                transition: box-shadow .25s cubic-bezier(.4,0,.2,1) 0ms;
            }
            #card3{
                transform: rotate(-2deg) translateY(12px);
            }
            .card{   
                background-color: $naranjaosc;
                width: 15rem;
                height: 25rem;
                margin: 20px;
                margin-top: -220px;
                box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.7);
                .btn-custom {
                    background-color:$naranjacla
                    ;
                    @include text ("Belanosima" sans-serif, 300, normal, 20px, center, $naranjaosc );
                    font-family: "Belanosima", sans-serif;
                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.3s;
                    }
                }
            }
            h3{
                @include text ("Belanosima" sans-serif , 300, normal, 28px, center, $blancoamarillo);
                font-family: "Belanosima", sans-serif;
            }
            p{
                @include text ("Edu VIC WA NT Beginner", 300, normal, 20px, center, $blancoamarillo );

            }
        }
    }
    /* Footer */
    footer {
        width: 100%;
        height: 150px;
        background-color: $azulosc;
        padding: 20px;
        @include dFlex (flex, row, nowrap, space-between, center);
        .flecha {
            width: 100px;
            height: 100px;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.3s;
            }            
        }
        .logoFooter {
            width: 120px;
            height: 120px;
            margin-left: 130px;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.3s;
            } 
        }
        .redesSociales {
            @include dFlex (flex, column, nowrap, center, center);
            p {
                @include text ("Edu VIC WA NT Beginner", 500, normal, 14px, center, $celesteclaro );
            }
            .imgRedes {
                width: 50px;
                height: 50px;
                margin: 10px;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                } 
            }
        }    
    }
}
/*fin-index*/