
/* Variables */

$celesteverdozo:rgba(194, 148, 112,);
$celesteclaro:rgba(244, 214, 217);
$blancoamarillo:rgba(244, 242, 235);
$naranjaosc:rgba(68, 145, 111);
$naranjamed:rgba(128, 186, 200);
$naranjacla:rgba(178, 217, 196);
$azulosc:rgba(15, 129, 139);


@mixin text ($font-family, $font-weight, $font-style, $font-size, $text-align, $color){
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
}
               
@mixin dFlex ($display,$flex-direction, $flex-wrap, $justify-content, $align-items){
    display: $display ;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content:$justify-content;
    align-items: $align-items;
}
       
@import "index";
@import "productos";
@import "encontranos";
@import "sobre nosotros";
@import "pedido";
@import "mediaquery";     

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


               










